/*body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
}*/
/*#myLabel
{
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10em;
}
#btnContainer{
text-align: center;
}
.buttons
{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(255, 0, 166);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: darkmagenta;
}*/